.grid {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 70px auto 70px;
    grid-gap: 1em;
    }
    
header,footer {
    grid-column-start: 1;
    grid-column-end: 3;
    }
    
.grid > * {
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    }
